@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-bricolage: "Bricolage Grotesque";
    --font-public: "Public Sans";
    --font-space: "Space Mono";
}

/* Force standard desktop hover behavior if you are on a touchscreen hybrid laptop */
@custom-variant hover (&:hover);