@import "tailwindcss";

@theme {
    --font-bricolage: var(--font-bricolage-face);
    --font-public: var(--font-public-face);
    --font-space: var(--font-space-face);
}

@custom-variant hover (&:hover);